<!-- Main content -->

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h4 class="page-title">Parameter Settings</h4>
  
      </div>
  
    </div>
  </div>
  
  
  <div class="row">
  
    <div class="col-12">
      <div class="box">
        <div class="box-header bg-primary2 header-sub">
          <span>Parameter Info</span>
        </div>
        <div class="box-body">
          <div class="row mb-2">
            <div class="col-sm-2">
              <label>Key <span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-4">
              <div class="controls">
                <input type="text" [(ngModel)]="parameterSettings.Key" 
                  class="col-xs-6 form-control mobileMarginBottom" id="key"
                  oninput="this.value=this.value.toUpperCase()"
                  name="" />
              </div>
            </div>
            <div class="col-sm-2">
              <label>Value <span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-4">
              <div class="controls">
                <input type="text" [(ngModel)]="parameterSettings.value" class="col-xs-6 form-control mobileMarginBottom" id="value"
                  name="" />
              </div>
            </div>
          </div>
         
          
          
  
        </div>
      </div>
  
      <div class="box">
        <div class="box-footer">
          <button class="myButton mr-2" (click)="SaveParameter()"  aria-haspopup="true" aria-expanded="false">
            Save     
          </button>          
        </div>
      </div>
      <div class="box">
        <div class="box-body">
          <!-- <div id="slimtest8"> -->
          <div class="table-responsive tsc">
            <table class="unstyledTable table-striped table-bordered table-hover">
              <thead class="bg-primary2">
                <tr class="row-color">
                  <th class="fixheaderT" data-sort="int">
                    <span>SL</span>
                  </th>
                  <th class="fixheaderT" data-sort="string">
                    <span>Key</span>
                  </th>
                  <th class="fixheaderT" data-sort="string">
                    <span>Value</span>
                  </th>  
                  <th class="fixheaderT">
                    <span>Action</span>
                  </th>                
                </tr>
              </thead>
              <tbody>
              <tr *ngFor = "let obj of ParamSettingsList;let i=index">
                <td style="text-align: center;">{{i+1}}</td>
                <td style="text-align: center;">{{obj.Key}}</td>
                <td style="text-align: center;">{{obj.value}}</td>
                <td style="text-align: center;">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" 
                    data-toggle="tooltip" (click) = "UpdateParameter(obj)">
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;                    
                  </td>
                </tr>  
              </tbody>
            </table>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- /.content -->
  