<div class="content-header">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h4 class="page-title">Add Party</h4>
  
      </div>
  
    </div>
  </div>
  <div class="row">
  
    <div class="col-12">
  
  
      <div class="box">
        <div class="box-body">
          <div class="row">
              
            <div class="col-xs-6 col-md-6 col-lg-6 mb-2">
              <div class="row">
                <div class="col-sm-4">
                  <label for="">Party Name</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 mb-2">
                <div class="row">
                    <div class="col-sm-4">
                      <label for="">Type</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="c-inputs-stacked">
                            <input type="radio" id="radio_123" name="optradio">
                            <label for="radio_123" class="mr-30">Supplier</label>
                            <input type="radio" id="radio_456" name="optradio">
                            <label for="radio_456" class="mr-30">Customer</label>
                          </div>
                    </div>
                  </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 mb-2">
                <div class="row">
                  <div class="col-sm-4">
                    <label for="">Address</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-6 col-lg-6 mb-2">
                <div class="row">
                    <div class="col-sm-4">
                      <label for="">Contact Person</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control">
                    </div>
                  </div>
              </div>
            <div class="col-xs-6 col-md-6 col-lg-6 mb-2">
                <div class="row">
                    <div class="col-sm-4">
                      <label for="">Contact No.</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control">
                    </div>
                  </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 mb-2 text-right">
                <button class="myButton mr-2">Save</button>
                <button class="myButton_brown">Reset</button>
            </div>
            
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-body">
          <!-- <div id="slimtest8"> -->
          <div class="table-responsive tsc">
            <table class="unstyledTable table-striped table-bordered table-hover">
              <thead class="bg-primary2">
                <tr class="row-color">
                  <th class="fixheader" data-sort="int">
                    <span>SL</span>
                  </th>
                  <th class="fixheader" data-sort="string">
                    <span>Party Name</span>
                  </th>
                  <th class="fixheader" data-sort="string">
                    <span>Type</span>
                  </th>
                  <th class="fixheader" data-sort="string">
                    <span>Contact Person</span>
                  </th>
                  <th class="fixheader" data-sort="string">
                    <span>Contact No.</span>
                  </th>
                  <th class="fixheaderT">
                    <span>Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Rafiq Enterprise</td>
                  <td>Customer</td>
                  <td>Mohammad</td>
                  <td>01700</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Edit" data-toggle="tooltip">
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Rakib Tradars</td>
                  <td>Supplier</td>
                  <td>Mohammad</td>
                  <td>01700</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip" >
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Asif Tradars</td>
                  <td>Supplier</td>
                  <td>Mohammad</td>
                  <td>01700</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  