<div class="content-header">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h4 class="page-title">Stock In</h4>

    </div>

  </div>
</div>
<div class="row">

  <div class="col-12">


    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Category</label>
              </div>
              <div class="col-sm-8">
                <select name="" id="" class="form-control">
                  <option value="">Paddy</option>
                  <option value="">Rice</option>
                  <option value="">By Product</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Item Name</label>
              </div>
              <div class="col-sm-8">
                <select class="form-control">
                  <option>Atap Paddy</option>
                  <option>Zira Paddy</option>
                  <option>Sharna-5 Paddy</option>
                  <option>Atash Paddy</option>
                  <option>Pariza Paddy</option>
                  <option>Chinigura Rice</option>
                  <option>Minicate Rice</option>
                  <option>Atash Rice</option>
                  <option>Pariza Rice</option>
                  <option>Sharna-5 Rice</option>
                  <option>Tamri Khud</option>
                  <option>Chitta Khud</option>
                  <option>Boiled Broken Rice-01</option>
                  <option>Boiled Broken Rice-02</option>
                  <option>Siddo Powder</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Date</label>
              </div>
              <div class="col-sm-8">
                <div class="" id="sandbox-container">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="col-xs-8 form-control"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-xs-6 col-md-6 col-lg-3">
            &nbsp;
          </div> -->
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Party Name</label>
              </div>
              <div class="col-sm-8">
                <select name="" id="" class="form-control">
                  <option value="">Rafiq Enterprise</option>
                  <option value="">Rakib Tradars</option>
                  <option value="">Asif Tradars</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Stock Ref</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

        </div>
        <!-- <div class="col-xs-6 col-md-6 col-lg-3">
            &nbsp;
          </div> -->
        <div class="row">
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Qty (Bag)</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Qty (Mon)</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Rate/Mon</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Total Price</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-4 mb-2 text-right">
            <button class="myButton mr-2">Save</button>
            <button class="myButton_brown">Reset</button>
          </div>

        </div>

      </div>
    </div>
    <div class="box">
      <div class="box-body">
        <!-- <div id="slimtest8"> -->
        <div class="table-responsive tsc">
          <table class="unstyledTable table-striped table-bordered table-hover">
            <thead class="bg-primary2">
              <tr class="row-color">
                <th class="fixheader" data-sort="int">
                  <span>SL</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Date</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Category</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Item</span>
                </th>

                <th class="fixheader" data-sort="string">
                  <span>Party</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Stock Ref</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Qty (Bag)</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Qty (Mon)</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Rate/Mon</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Total</span>
                </th>
                <th class="fixheaderT">
                  <span>Action</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>24-11-2019</td>
                <td>Paddy</td>
                <td>Atap Paddy</td>
                <td>Rakib Tradars</td>
                <td>-</td>
                <td class="text-center">250</td>
                <td class="text-center">468</td>
                <td class="text-center">749</td>
                <td class="text-right">350500</td>
                <td class="text-center">
                  <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                    >
                    <i class="ti-marker-alt"></i>
                  </a> &nbsp;&nbsp;
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                    data-toggle="tooltip">
                    <i class="ti-files"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>2-01-2020</td>
                <td>Paddy</td>
                <td>Atash Paddy</td>
                <td>Rakib Tradars</td>
                <td>-</td>
                <td class="text-center">250</td>
                <td class="text-center">468</td>
                <td class="text-center">749</td>
                <td class="text-right">350500</td>
                <td class="text-center">
                  <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                    >
                    <i class="ti-marker-alt"></i>
                  </a> &nbsp;&nbsp;
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                    data-toggle="tooltip">
                    <i class="ti-files"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>5-01-2020</td>
                <td>Paddy</td>
                <td>Sharna-5 Paddy</td>
                <td>Asif Tradars</td>
                <td>-</td>
                <td class="text-center">250</td>
                <td class="text-center">468</td>
                <td class="text-center">749</td>
                <td class="text-right">350500</td>
                <td class="text-center">
                  <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                    >
                    <i class="ti-marker-alt"></i>
                  </a> &nbsp;&nbsp;
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                    data-toggle="tooltip">
                    <i class="ti-files"></i>
                  </a>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
