
<!-- Main content -->

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h4 class="page-title">Change Password</h4>

    </div>

  </div>
</div>


<div class="row">

  <div class="col-6">
    <div class="box">
      <!-- <div class="box-header bg-primary2 header-sub">
        <span>User Info</span>
      </div> -->
      <div class="box-body">
        <div class="row mb-2">
          <div class="col-sm-4">
            <label>Current Password<span class="text-danger">*</span></label>
          </div>
          <div class="col-sm-8">
            <div class="controls">
              <input type="text" [(ngModel)]="user.UserID" class="col-xs-6 form-control mobileMarginBottom" id="user_id"
                name="" ng-disabled="isUpdate" />
            </div>
          </div>

        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label>New Password <span class="text-danger">*</span></label>
          </div>
          <div class="col-sm-8">
            <div class="controls">
              <input type="password" [(ngModel)]="user.Password" class="col-xs-6 form-control" id="password" name="" />
            </div>
          </div>

        </div>
        <div class="row mb-2">
          <div class="col-sm-4">
            <label>Confirm Password <span class="text-danger">*</span></label>
          </div>
          <div class="col-sm-8">
            <div class="controls">
              <input type="text" [(ngModel)]="user.Surname" class="col-xs-6 form-control mobileMarginBottom"
                id="surname" name="" />
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="box">
      <div class="box-footer">
        <button class="myButton mr-2" (click)="SaveUser()" aria-haspopup="true" aria-expanded="false">
          <!-- <span *ngIf="!isUpdate"><i class="ti-save-alt"></i> Save</span>
          <span *ngIf="isUpdate"><i class="ti-save-alt"></i> Update</span> -->
          Change Password
        </button>
        <button class="myButton_brown" (click)="reset()" aria-haspopup="true" aria-expanded="false"><i
            class="ti-trash"></i> Reset</button>
      </div>
    </div>

  </div>
</div>

<!-- /.content -->
