<div class="content-header">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h4 class="page-title">Add Category</h4>

    </div>

  </div>
</div>
<div class="row">

  <div class="col-12">


    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-xs-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-sm-4">
                <label for="">Category Name</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-6 text-right">
            <button class="myButton mr-2">Add</button>
            <button class="myButton_brown">Reset</button>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-body">
        <!-- <div id="slimtest8"> -->
        <div class="table-responsive tsc">
          <table class="unstyledTable table-striped table-bordered table-hover">
            <thead class="bg-primary2">
              <tr class="row-color">
                <th class="fixheader" data-sort="int">
                  <span>SL</span>
                </th>
                <th class="fixheader" data-sort="string">
                  <span>Category</span>
                </th>               
                <th class="fixheaderT">
                  <span>Action</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Paddy</td>
              
                <td class="text-center">
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Edit" data-toggle="tooltip"
                   >
                    <i class="ti-marker-alt"></i>
                  </a> &nbsp;&nbsp;
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                    data-toggle="tooltip">
                    <i class="ti-files"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Rice</td>
               
                <td class="text-center">
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Edit" data-toggle="tooltip">
                    <i class="ti-marker-alt"></i>
                  </a> &nbsp;&nbsp;
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                    data-toggle="tooltip">
                    <i class="ti-files"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>By Product</td>
             
                <td class="text-center">
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Edit" data-toggle="tooltip">
                    <i class="ti-marker-alt"></i>
                  </a> &nbsp;&nbsp;
                  <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                    data-toggle="tooltip">
                    <i class="ti-files"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
