<div class="content-header">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h4 class="page-title">Add Item</h4>
  
      </div>
  
    </div>
  </div>
  <div class="row">
  
    <div class="col-12">
  
  
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-3">
              <div class="row">
                <div class="col-sm-4">
                  <label for="">Category</label>
                </div>
                <div class="col-sm-8">
                  <select name="" id="" class="form-control">
                      <option value="">Paddy</option>
                      <option value="">Rice</option>
                      <option value="">By Product</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-3">
                <div class="row">
                  <div class="col-sm-4">
                    <label for="">Item</label>
                  </div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-6 col-lg-3 text-right">
                &nbsp;
              </div>
            <div class="col-xs-6 col-md-6 col-lg-3 text-right">
              <button class="myButton mr-2">Add</button>
              <button class="myButton_brown">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box-body">
          <!-- <div id="slimtest8"> -->
          <div class="table-responsive tsc">
            <table class="unstyledTable table-striped table-bordered table-hover">
              <thead class="bg-primary2">
                <tr class="row-color">
                  <th class="fixheader" data-sort="int">
                    <span>SL</span>
                  </th>
                  <th class="fixheader" data-sort="string">
                    <span>Category Name</span>
                  </th>
                  <th class="fixheader" data-sort="string">
                    <span>Item</span>
                  </th>
                  <th class="fixheaderT">
                    <span>Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Paddy</td>
                  <td>Atap Paddy</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Paddy</td>
                  <td>Zira Paddy</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Paddy</td>
                  <td>Sharna-5 Paddy</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Paddy</td>
                  <td>Atash Paddy</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Paddy</td>
                  <td>Pariza Paddy</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Rice</td>
                  <td>Chinigura Rice</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Rice</td>
                  <td>Minicate Rice</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Rice</td>
                  <td>Atash Rice</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Rice</td>
                  <td>Pariza Rice</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Rice</td>
                  <td>Sharna-5 Rice</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>By Product</td>
                  <td>Tamri Khud</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>By Product</td>
                  <td>Chitta Khud</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>By Product</td>
                  <td>Boiled Broken Rice-01</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>By Product</td>
                  <td>TBoiled Broken Rice-02</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>By Product</td>
                  <td>Siddo Powder</td>
                  <td class="text-center">
                    <a href="javascript:void(0)" class="text-info" data-original-title="Edit" data-toggle="tooltip"
                      >
                      <i class="ti-marker-alt"></i>
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="text-danger" data-original-title="Session Log"
                      data-toggle="tooltip">
                      <i class="ti-files"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  